* {
    box-sizing:border-box;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.github :hover {
    fill: white;
}


ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
}
body {
    font-size: 14px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    width:100%;
    margin:auto;
}
.header {
    width:100%;
    background:rgba(238,238,238,.8);
    color:white;
    padding:10px;
    font-size:26px;
    text-align:center;
    margin-bottom:25px;
}
.row {
    width:100%;
    padding:2px;
    border-bottom:1px solid grey;
}
.comments {
    font-weight:bold;
    text-align:left;
    overflow:auto;
}
.date {
    font-size:10px;
}
.controls {
    margin:auto;
    padding-top:25px;
}
.controsl button {
    height:10px;
}
.controls input {
    width:100%;
}
.camera {
    width:50px;
    height:50px;
}
canvas {
    display:none;
}
pie {
    width: 3em;
    height: 3em;
    display: block;
    border-radius: 50%;
    background-color: rgb(27, 161, 226);
    border: 2px solid rgb(27, 161, 226);
    background-image: linear-gradient(100deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
    margin: 1em;
}
.ten {
    background-image: linear-gradient(100deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}
.twentyfive {
    background-image: linear-gradient(180deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}
.fifty {
    background-image: linear-gradient(90deg, white 50%, transparent 50%);
}
/* Slices greater than 50% require first gradient
   to be transparent -> green */
 .seventyfive {
    background-image: linear-gradient(180deg, transparent 50%, rgb(27, 161, 226) 50%), linear-gradient(90deg, white 50%, transparent 50%);
}
.onehundred {
    background-image: none;
}
.video {
    width:320px;
    display:block;
    position:relative;
}
.pie {
    position:absolute;
    left:0px;
    top:0;
}
@media (min-width:650px) {
    body {
        font-size: 18px;
        width:750px;
    }
}