<div class="jumbotron">
	<h1>snap<i class='glyphicon glyphicon-camera title'></i>GIF</h1>
	Chat with Animated Gifs

	<br /><br /><br />
	<form name='join' ng-submit='joinRoom(room)'>
		 <input  type='text' name="roomname" ng-model='room'  ng-pattern="/^[a-zA-z0-9]{1,24}$/" placeholder='' required/>
		 <span ng-show="join.roomname.$error.pattern" class="alert alert-danger" style="padding:0px"><br />YOU DUN GOOFED</span>
		 <br /><br />
  		 <button class='btn btn-success' type='submit'>JOIN ROOM</button>
  	</form>
</div>
 <footer></footer>