<div class='header'>
    <a ng-href='#' ng-click='stopMedia()'><h1>snap<i class='glyphicon glyphicon-camera title'></i>GIF</h1></a>
</div>
<div ng-if='pageLoading'>
    <center>
        <i class='loading glyphicon glyphicon-refresh'></i>
        <h3 >Loading... Please wait</h3>
    </center>
</div>
<main ng-hide='pageLoading'>
    <section>
        <ul class='row gifs' ng-repeat='gif in gifs'>
            <li>
                <div class="col-xs-4">
                    <img ng-src='{{gif.url}}' />
                </div>
                
                <div class="col-xs-2"></div>
                
                <div class="col-xs-6"> 
                    <span class='date'>{{gif.date | date:'short'}}</span>
                    <div class='comments'>
                        {{gif.comment}}
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class='controls'>
        <div class='videoRecord'>
            <video ng-if='mediaON' id="video" width="320" height="200" autoplay></video>
                <div class='pie'>
                    <pie ng-if='camera.isRecording()'></pie>
                </div>
        </div><br/>
        
    <input ng-show='mediaON' type='text' ng-keydown="keypress($event)" ng-disabled="camera.isRecording()" maxlength="250" ng-model='comment' placeholder="Send a public message" /> 
    <span ng-show='mediaON'>{{250 - comment.length}}</span>
    <br /> <br />
        
        
        <select  ng-show='!mediaON'  
                 ng-disabled="camera.isRecording()"  
                 ng-model="videoSource"  
                 ng-change='getUserMedia()' 
                 ng-options="source.name for source in sources">

                <option value=''>-- Select Camera  --</option>
        </select>

        <button class='btn btn-success btn-lg camera' ng-if='mediaON' ng-disabled="camera.isRecording()" ng-click='recordGIF()'>
            <span class="glyphicon glyphicon-camera"></span>
        </button>
        
        <button class='btn btn-danger camera' ng-if='mediaON' ng-disabled="camera.isRecording()" ng-click='stopMedia()'>OFF</button><br /><br />
    

    </section>

    <section>
        <canvas id='canvas' width='135' height='100'></canvas>
    </section>
</main>